<a href="https://colab.research.google.com/github/Harivamsh2005/python/blob/main/25_09_2025_list%2Ctupes%2Cbytes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#ME
rows, cols = map(int, input("Enter rows and cols: ").split())
matrix = []
print("Enter matrix values row by row:")
for _ in range(rows):
    matrix.append(list(map(int, input().split())))
max_sum = float('-inf')
for i in range(rows - 2):
    for j in range(cols - 2):
        s = (matrix[i][j] + matrix[i][j+1] + matrix[i][j+2] +
                          matrix[i+1][j+1] +
             matrix[i+2][j] + matrix[i+2][j+1] + matrix[i+2][j+2])
        if s > max_sum:
            max_sum = s
print("Maximum Hourglass Sum =", max_sum)

Enter rows and cols: 6 6
Enter matrix values row by row:
1 1 1 0 0 0
0 1 0 0 0 0
1 1 1 0 0 0
0 0 2 4 4 0
0 0 0 2 0 0
0 0 1 2 4 0
Maximum Hourglass Sum = 19

In [4]:
#Bytes
l = [48, 65, 97, 100, 32, 35, 65]
print(type(l))
print(l)
l1 = bytes(l)
print(l)
l1 = bytes(l)
print(type(l1))
print(l1)
print(l1[0])
print(l1[1:4])
print(l1[-1])
print(l1[-2:-5:-1])
# l1[0] = 49  #TypeError

<class 'list'>
[48, 65, 97, 100, 32, 35, 65]
[48, 65, 97, 100, 32, 35, 65]
<class 'bytes'>
b'0Aad #A'
48
b'Aad'
65
b'# d'

In [5]:
l = [10, 32, 35, 65, 48, 90, 122, 100]
l1 = bytearray(l)
print(type(l1))
print(l1)
print(type(l1))
print(l1)
print(l1[0])
print(l1[1:4])
print(l1[-1])
print(l1[-2:-5:-1])
l1[0] = 9
print(l1)

<class 'bytearray'>
bytearray(b'\n #A0Zzd')
<class 'bytearray'>
bytearray(b'\n #A0Zzd')
10
bytearray(b' #A')
100
bytearray(b'zZ0')
bytearray(b'\t #A0Zzd')

In [8]:
#tuple : collection of heterogenous elements
#it is a ordered, index, immutable
#duplicates are allowed
t=(10,20,30)
print(t)
print(type(t))
t1=(10)
print(t1)
print(type(t1))
t2=(10,)
print(t2)
print(type(t2))

(10, 20, 30)
<class 'tuple'>
10
<class 'int'>
(10,)
<class 'tuple'>

In [12]:
t=(10,20,30,10,20,40,50)
print(t[3])
print(t[1:4])
print(t[-1])
print(t[-1:-4:-1])
#t[0] = 100#typeError - > tuple is immutable
print(t)
print(dir(t))
print(t.count(10))
print(t.index(40))
print(len(t))
print(max(t))
print(min(t))
print(sum(t))
t1 = sorted(t)
print(t1)
t2 = sorted(t)
print(t2)
t3 = sorted(t,reverse = True)
print(t3)

10
(20, 30, 10)
50
(50, 40, 20)
(10, 20, 30, 10, 20, 40, 50)
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
2
5
7
50
10
180
[10, 10, 20, 20, 30, 40, 50]
[10, 10, 20, 20, 30, 40, 50]
[50, 40, 30, 20, 20, 10, 10]

In [17]:
t=((1,2),(3,4),(5,6))
print(t)
print(t[0])
print(t[1][0])
for r in range(len(t)):
  print(*t[r])

((1, 2), (3, 4), (5, 6))
(1, 2)
3
1 2
3 4
5 6

In [18]:
#write a program to print duplicate values from tuple
user_input = input("Enter elements of the tuple separated by space: ")
tup = tuple(user_input.split())
duplicates = []
for item in tup:
    if tup.count(item) > 1 and item not in duplicates:
        duplicates.append(item)
if duplicates:
    print("Duplicate values in the tuple are:", duplicates)
else:
    print("No duplicates found.")

Enter elements of the tuple separated by space: 2 5 8 4 6 9 5 3 1 5
Duplicate values in the tuple are: ['5']

In [19]:
#OR
t = tuple(map(int,input().split()))
d = []
for i in range(len(t)):
  if t.count(t[i])>1 and t[i] not in d:
    d.append(t[i])
print(*d)

2 58 4 6 9 5 3 1 5
5

In [23]:
# Program to print each string in reverse order from a tuple
my_tuple = tuple(map(str,input().split()))
for word in my_tuple:
    print(*word[: :-1])

apple banana mango
e l p p a
a n a n a b
o g n a m

In [24]:
t = tuple(map(str,input().split()))
vowels = "aeiouAEIOU"
for word in t :
  count = 0
  for char in word:
    if char in vowels:
      count+=1
  print(f"{word} : {count}")

apple banana mango
apple : 2
banana : 3
mango : 2

In [25]:
a,b,c,d=10,20,30,40
print(a,b,c,d)
t = a,b,c,d
print(t)
p,q,r,s = t
print(p,q,r,s)

10 20 30 40
(10, 20, 30, 40)
10 20 30 40

In [28]:
# SET : collection of heterogenous elements
# it is unordered,immutable
#duplicates are not allowed
s={}
print(type(s))
s =set()
print(type(s))
print(s)
s = {100,11,150,240}
print(s) #{240, 11, 100, 150} --> unordered
#s[0] = 200 #immutable
#print(s[0]) # Error indexing is not possible

<class 'dict'>
<class 'set'>
set()
{240, 11, 100, 150}

In [32]:
s={10,20,30,40}
s.add(50)
print(s)
'''s.clear()
print(s)#set()'''
s1 = s.copy()#cloning or new object is created for s1
print(s1)
s2 = {20,30,40,50}
s3 = {40,50,60,70}
print(s2-s3)
print(s3-s2)
print(s2.difference(s3))
print(s3.difference(s2))
s2.discard(40)
print(s2)
s2.difference_update(s3)
print(s2)
s4 = {30,40}
print(s4.issubset(s2))
print(s4.issubset(s3))

{40, 10, 50, 20, 30}
{50, 20, 40, 10, 30}
{20, 30}
{60, 70}
{20, 30}
{60, 70}
{50, 20, 30}
{20, 30}
False
False